{% extends 'blog/layout.html' %}

{% block content %}
{% for blog in blogs.all %}
    <h1>{{ blog.title }}</h1>
    {% if blog.image %}
        <img class="card-img-top" src="{{ blog.image.url }}" alt="img">
    {% endif %}
    {% for hashtag in blog.hashtags.all %}
    <span>{{ hashtag.name }}</span>
    {% endfor %}
<br>
    <p>{{ blog.pub_date }}</p>
    <p>{{ blog.body }}</p>
    <a href="{% url 'edit' blog.id %}">수정</a>
    <a href="{% url 'remove' blog.id %}">삭제</a>
    <a href="{% url 'detail' blog.id %}">댓글 달기</a>
{% endfor %}
{% endblock %}